raspberry_pi/kinematics/__pycache__/kinematic_test.cpython-37-pytest-6.2.5.pyc
raspberry_pi/kinematics/__pycache__/kinematic_funcs.cpython-37.pyc
raspberry_pi/kinematics/__pycache__/util.cpython-37.pyc
